.img-footer {
  border-radius: 50%;
  margin-top: -1.5rem;
}

.form-control:focus{
  box-shadow: none !important;
  border: 1px solid black !important;
}

.btn{
  border-color: black !important;
  font-size: 1.1rem !important;
}

.btn:hover{
  background-color: rgb(236, 132, 188) !important;
}

@media (max-width: 576px) {
  .justify-center-on-phone {
    display: flex;
    justify-content: center;
  }
}
