.navBar {
  margin: 1rem;
}

.navbar-title{
    font-size: 2.5rem;
    text-align:center;
    width: 30rem;
    font-family: 'Garamond', Times, serif;
}

.img-navbar{
   border-radius: 50%;    
}

/* Navbar links */
.navbar-container{
    justify-content: flex-end !important;
    font-family:  'Garamond', Times, serif;
}

.navBar-link{
    margin-right: 1rem;
    font-size: 1.7rem;
}

.links{
    padding: 1rem;    
    margin-right: 2.2rem;
    font-family: 'Lucida Console', Courier, monospace;
}

.cart-icon{
    font-size: 1.3rem;
    margin-top: -18px;
}

.cart-quantity{
    padding-left: 1rem;
}