.navBar {
  margin: 1rem;
}

.navbar-title {
  font-size: 2.5rem;
  width: 30rem;
}

.img-navbar {
  border-radius: 50%;
}

/* Navbar links */
.navbar-container {
  display: flex;
  justify-content: flex-end !important;
}

.navBar-link {
  margin-right: 2rem;
  font-size: 1.7rem;
}

.navBar-link:hover {
  color: rgb(236, 132, 188);
}

.links {
  padding: 1rem;
  margin-right: 2.2rem;
}

.cart-icon {
  font-size: 1.3rem;
  margin-top: -18px;
}

.cart-quantity {
  padding-left: 1rem;
}

@media (max-width: 576px){
  .navbar-container{
    justify-content: center !important;
    margin-top: 2rem;
  }

  .navbar-title{
    text-align: center;
  }

  .links{
    position: absolute;
    right: -15px;
    top: 12rem;
  }
}