.jumbotronContainer {
  background-image: url(/Images/jumbotronpic.png);
  background-position: center;
  background-size: cover;
  height: 700px;
  padding-top: 136px;
  padding-left: 36px;
  margin-bottom: 4rem;
}

.jumbotronContainer h1 {
  font-size: 64px;
}

.jumbotronContainer p {
  font-size: 24px;
  padding-top: 18px;
  width: 52%;
}

.jumbotronBtn {
  height: 42px;
  width: 150px !important;
  border-color: black ;
  font-size: 1.3rem;
}

.jumbotronBtn:hover{
  border-color: white !important;
}

@media (max-width: 576px){
  .jumbotronContainer {
    height: 900px;
    color: white;
    text-shadow: 1px 1px 2px #000;
  }
}