.jumbotronContainer {
  background-image: url(/Images/jumbotronpic.png);
  background-position: center;
  background-size: cover;
  height: 700px;
  padding-top: 136px;
  padding-left: 36px;
}

.jumbotronContainer h1 {
  font-size: 64px;
}

.jumbotronContainer p {
  font-size: 24px;
  padding-top: 18px;
  width: 52%;
}

.jumbotronBtn {
  height: 42px;
  width: 150px !important;
}
