.card {
  width: 300px;
  min-height: 380px;
  border-width: 1px !important;
  border-radius: 10px !important;
  margin: 1rem;
  position: relative;
}

.imgStyle {
  display: block;
  width: 100%;
  /* height: auto; */
  height: 240px;
  /* max-width: 300px; */
  /* max-height: 260px !important; */
  object-fit: cover;
  /* border-radius: 10px 10px 0 0 !important; */
}

h2 {
  text-align: center;
}
