.container p {
  text-align: justify;
  font-size: 18px;
}

.product-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-img {
  width: 70%;
  position: static;
}

.content-container {
  display: flex;
  justify-content: center !important;
  align-items: center;
}

.content-container h3 {
  text-align: left;
  padding-top: 24px;
  padding-bottom: 12px;
}

.span-style {
  font-size: 24px;
  font-weight: 400;
}

.add-crt-btn {
  margin-top: 12px;
}
