:root {
    --titleFont: 'Garamond', Times, serif;
}

h1, h2, h3{
    font-family: var(--titleFont);
}

p{
    font-family:'Times New Roman', Times, serif;
}

.btn{
    background-color: rgb(234, 120, 181) !important;
    font-family:'Times New Roman', Times, serif !important;
}